<a href="https://colab.research.google.com/github/FGalvao77/-DICAS-Uso-de-ferramentas-para-Data-Science-e-afins/blob/main/%5BDICAS%5D_15_coisas_%C3%BAteis_que_voc%C3%AA_pode_fazer_com_uma_simples_linha_de_c%C3%B3digo_em_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[DICAS] - _15 coisas úteis_ que você pode fazer com uma simples `linha de código em Python`**
---

**1. Trocar duas variáveis  | Swap two variables**

In [ ]:
a = 10
b = 20

print(a, b)

10 20

In [ ]:
a, b = b, a

print(a, b)

20 10

**2. Reverter uma lista | Reverse a list**

In [ ]:
l = [1, 2, 3, 4, 5]

print(l)

[1, 2, 3, 4, 5]

In [ ]:
print(l[::-1])

[5, 4, 3, 2, 1]

In [ ]:
print(l)

[1, 2, 3, 4, 5]

In [ ]:
l.reverse()

print(l)

[5, 4, 3, 2, 1]

**3. Calcular a moda de uma lista | Calculate the mode of a list**

In [ ]:
l = [2, 1, 3, 2, 5, 2, 2, 5, 4, 6, 5]

print(l)

[2, 1, 3, 2, 5, 2, 2, 5, 4, 6, 5]

In [ ]:
set(l)

{1, 2, 3, 4, 5, 6}

In [ ]:
l.count(1), l.count(2), l.count(3), l.count(4), l.count(5), l.count(6)

(1, 4, 1, 1, 3, 1)

In [ ]:
max(set(l), key=l.count)

2

**4. Tira linhas para espaços iniciais e finais e remove novas linhas | Strip lines for start and end spaces and remove new lines**

Antes de tudo, crie um arquivo de texto e dê o nome de `data`.

E coloque o seguinte texto.

    Python (programming language)

    Python is a high-level, interpreted, general-purpose programming language. 
    Its design philosophy emphasizes code readability with the use 
    of significant indentation.

    Python is dynamically-typed and garbage-collected. It supports multiple 
    programming paradigms, including structured (particularly procedural), 
    object-oriented and functional programming. It is often described 
    as a "batteries included" language due to its comprehensive standard library.

    Guido van Rossum began working on Python in the late 1980s as a successor 
    to the ABC programming language and first released it in 1991 as Python 0.9.0. 
    Python 2.0 was released in 2000 and introduced new features 
    such as list comprehensions, cycle-detecting garbage collection, 
    reference counting, and Unicode support. Python 3.0, released in 2008, 
    was a major revision that is not completely backward-compatible 
    with earlier versions. Python 2 was discontinued 
    with version 2.7.18 in 2020.

E em seguida, realizaei o carregamento do arquivo para o seu ambiente de trabalho.

In [ ]:
with open('data.txt') as f:
    lines = f.readlines()

In [ ]:
lines[:3]

['Python (programming language)\n',
 '\n',
 'Python is a high-level, interpreted, general-purpose programming language. \n']

In [ ]:
lines = [line.strip() for line in lines]

In [ ]:
print(lines[:3])

['Python (programming language)', '', 'Python is a high-level, interpreted, general-purpose programming language.']

In [ ]:
lines = [line for line in lines if len(line) > 0]

In [ ]:
lines[:3]

['Python (programming language)',
 'Python is a high-level, interpreted, general-purpose programming language.',
 'Its design philosophy emphasizes code readability with the use of significant indentation.']

**5. Atribuição de várias variáveis | Multiple variable assignment**

In [ ]:
age, name, weight = 35, 'Fernando', 78.5

In [ ]:
print(age)
print(name)
print(weight)

35
Fernando
78.5

**6. Converter uma string em um número | Convert a string into a number**

In [ ]:
int('27')

27

In [ ]:
type(int('27'))

int

In [ ]:
s = '27'

In [ ]:
a = int(s)

In [ ]:
a + 1

28

**7. Tipo de conversão de itens de uma lista | Type casting a list items**

In [ ]:
l = ['12', '23', '45']

print(l)

['12', '23', '45']

In [ ]:
type(l)

list

In [ ]:
items = [int(item) for item in l]

print(items)

[12, 23, 45]

In [ ]:
for item in items:
    print(item, type(item))

12 <class 'int'>
23 <class 'int'>
45 <class 'int'>

**8. Encontrar a raiz quadrada de um número | Find the square root of a number**

In [ ]:
4 ** 0.5

2.0

In [ ]:
16 ** 0.5

4.0

In [ ]:
225 ** 0.5

15.0

In [ ]:
1_225 ** 0.5

35.0

**9. Encontrar a raiz cúbica de um número | Find the cube root af a number**

In [ ]:
27 ** (1/3)

3.0

In [ ]:
125 ** (1/3)

4.999999999999999

In [ ]:
3375 ** (1/3)

14.999999999999998

**10. Obter o valor absoluto de um número | Get the absolute value of a number**

In [ ]:
abs(-27)

27

In [ ]:
v = -0.001
abs(v)

0.001

**11. Arredondar um número para `n` dígitos | Round a number to `n` digits**

In [ ]:
pi = 3.1415
round(pi, 2)

3.14

**12. Crie uma lista de números em um intervalo específico | Create a list of number in specific range**

In [ ]:
list(range(5, 15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

**13. Calcular a média de uma lista | Calculate the average of a list**

In [ ]:
values = [1, 5, 7, 13, 24]

In [ ]:
sum(values)/len(values)

10.0

**14. Atribuições `if-else` | `if-else` assignments**

In [ ]:
x = 19

res = 10 if x < 20 else 20
res

10

In [ ]:
x = 25

res = 10 if x < 20 else 20
res

20

**15. Achatar uma lista de listas | Flatten a list of lists**

In [ ]:
list_1 = [[1, 2], [4, 6], [8, 10]]

type(list_1)

list

In [ ]:
[j for i in list_1 for j in i]

[1, 2, 4, 6, 8, 10]

In [ ]:
list_2 = [j for i in list_1 for j in i]

type(list_2), list_2

(list, [1, 2, 4, 6, 8, 10])

**[Bônus] Palíndromo | [Bonus] Palindrome**

- Esta é uma pergunta comum em entrevistas de emprego | This is a common job interview question

In [ ]:
word = 'racecar'

In [ ]:
word == word[::-1]

True

In [ ]:
word = 'foobar'
word == word[::-1]

False

In [ ]:
name = 'Otto'
name ==  name[::-1]

False